/* nav-bar */

.navbar {
    background-color: black;
    color: orange;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.navbar li{
    list-style: none;
    padding-right: 100px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}