/* nav-bar */

.navbar {
    background-color: black;
    color: orange;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.navbar li{
    list-style: none;
    padding-right: 100px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* main */

main {
    width: 100%;
    background-color:   rgb(238, 72, 72);
    color: orange;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}