header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
}

header a {
    color: yellow;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 12px;
    text-shadow: black;
    text-decoration: none;
}

header a:hover {
    color: yellowgreen;
}

#page-logo {
    margin: 0;
    padding: 20px;
    text-decoration: none;
    font-size: 50px;
    color: yellow;
    text-transform: capitalize;
    text-shadow: 2px 4px 3px black;
    font-family: 'Dancing Script', cursive;
}

#navigation-items {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

#navigation-items li {
    margin-left: 50px;
}