#hero {
    background-image: url(ocean.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

#hero-content {
    width: 900px;
    background-color: rgb(51, 47, 47, 0.8);
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 200px;
    border-radius: 12px;
}

#hero-content h1 {
    color: white;
    font-size: 50px;
}

#hero-content p {
    color: white;
    font-size: 20px;
    font-weight: 200;
}

#hero-content a {
    background-color: yellow;
    font-weight: bold;
    text-decoration: none;
    padding: 6px 12px;
    color: black;
    border-radius: 8px;
    box-shadow: black;
    font-family: Arial, Helvetica, sans-serif;
}

#hero-content a:hover {
    color: yellowgreen;
}

#highlights {
    background: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

#destinations {
    display: flex;
    justify-content: space-between;
}

.destination {
    width: 90%;
    list-style: none;
    text-align: center;
}

.destination img {
    height: 200px;
    width: 80%;
    object-fit: fill;
    border-radius: 8px;
}

.destination strong {
    color: aqua;
}